---
# Main CSS YEAH
---

// Layout
$page-width: 675px

// Text
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size: 18px
$base-font-weight: 400
$small-font-size: $base-font-size * 0.875
$base-line-height: 1.7
$spacing-unit: 30px

// Colors
$link-color: #5694f1
$text-color: #444
$beige-light-color: #FBFAF6
$grey-color: #EDEDED
$grey-color-dark: #CFCFCF

$toned-color: $grey-color-dark
$brand-color: #2a7ae2
$background-color: $beige-light-color

$blue-color: #3360A3
$heading-color: #222

// Brand colors
$ruby-color: #801628
$python-color: #3572A5
$elixir-color: #6e4a7e
$javascript-color: #f1e05a
$ember-color: #B83F49
$phoenix-color: #CA4844

// Width of the content area
$small-break: 768px

body
  background-color: $background-color

@mixin desktop
  @media screen and (min-width: $small-break)
    @content

=natural-page-width
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px

  @include desktop
    width: $page-width

@import "normalize", "layout", "base", "posts", "labels", "about", "code-highlight"
