---
layout: default
---

<div class="page-content">
  <header class="page-heading">
    <div class="page-heading-content">
      <h1 class="page-heading-title">Blog</h1>
      <p class="page-heading-description">My thoughts on different programming topics</p>
    </div>
  </header>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list-item">
        <h2 class="post-list-item-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <span class="post-meta">
          <span class="post-meta-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% for category in post.categories %}
            <span class="label label-default">{{ category }}</span>
          {% endfor %}
        </span>
        <p class="post-teaser">{% if post.teaser %}{{ post.teaser }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
        <a class="post-read-more-link" href="{{ post.url | prepend: site.baseurl }}">Read more &rarr;</a>
      </li>
    {% endfor %}
  </ul>
</div>
