.about-spec-list, .about-code-projects, .about-resume-stuff
  +natural-page-width
  margin-bottom: 50px

.about-header
  font-size: 2.5rem

.about-spec-list
  margin-top: 15px
  float: left

.about-spec-ed
  font-size: 1.0rem

.about-spec
  float: left
  padding: 10px 0
  width: 100%

  dt
    font-size: 0.9rem
    font-weight: 600
    margin-bottom: 3px

  dd
    font-size: 1.3rem
    font-weight: 400

  @include desktop
    width: 50%

.about-spec-profile
  width: 40%

.about-code-project
  border: 1px solid $grey-color-dark
  border-radius: 2px
  padding: 12px
  background-color: #fff
  margin: 20px 0

  h3
    padding: 0
    font-size: 1.6rem

  p
    padding: 0
    margin-bottom: 0

.about-resume-point
  margin-top: 20px
  margin-bottom: 50px

  h3, h4, h5, h6
    padding: 0

  h3
    font-size: 1.6rem

  h4
    font-weight: 400
    font-size: 1.3rem
    color: lighten($text-color, 5%)
    margin-bottom: 3px

  h5
    font-weight: 400
    color: darken($grey-color-dark, 20%)

.about-code-project-description
  color: lighten(#000000, 50%)

.about-courseware-header
  margin-top: 8px

.about-tags
  margin: 5px 0
