.about-spec-list
  +natural-page-width
  margin: 15px 0 40px 0

.about-spec
  float: left
  padding: 10px 0
  width: 100%

  dt
    font-size: 0.9rem
    font-weight: 600
    margin-bottom: 3px

  dd
    font-size: 1.3rem
    font-weight: 400

  @include desktop
    width: 50%

.about-spec-profile
  width: 40%

.twitter
  color: #4099FF

.github
  color: #000

.linkedin
  color: #0077B5

.vim
  color: #007f00

.ruby
  color: #801628

.python
  color: #3572A5

.elixir
  color: #6e4a7e

.javascript-brand
  color: #f1e05a

.emberjs
  color: #B83F49

.phoenix
  color: #CA4844
