// Labels
// --------------------------------------------------
$label-color: #fff
$label-link-hover-color: #fff

@mixin label-variant($color)
  background-color: $color

  &[href]
    &:hover,
    &:focus
      background-color: darken($color, 10%)

.label
  display: inline
  padding: .2em .6em .3em
  font-size: 0.5rem
  font-weight: bold
  line-height: 1
  color: $label-color
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .25em

  &:empty
    display: none

  .btn &
    position: relative
    top: -1px

a.label
  &:hover,
  &:focus
    color: $label-link-hover-color
    text-decoration: none
    cursor: pointer

.label-default
  @include label-variant(#C4C3C3)

.label-javascript
  @include label-variant(#f1e05a)

.label-python
  @include label-variant(#3572A5)

.label-ruby
  @include label-variant(#801628)

.label-mongo
  @include label-variant(#439C63)

.label-heroku
  @include label-variant(#5E3D66)

