
// LAYOUT/MODULES
.site-header
  padding: 30px 60px
  display: flex
  justify-content: center
  border-bottom: 1px solid $toned-color

.site-header-image
  width: 40px
  height: 40px
  border-radius: 50%
  margin-right: 12px
  float: left

.site-header-title-link
  float: left
  display: block

.site-header-title
  margin: 0
  color: #000
  font-size: 1.5rem
  float: left
  line-height: 40px
  vertical-align: middle

.page-container
  position: relative

.page-container:after
  bottom: 100%
  left: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-color: rgba($toned-color, 0)
  border-bottom-color: $toned-color
  border-width: 15px
  margin-left: -15px

.navbar
  display: flex
  justify-content: center
  border-bottom: 1px solid $toned-color

.navbar-link
  display: inline-block
  padding: 20px 15px

.page-content
  padding-top: 15px
  overflow: scroll

.page-content-body
  width: $page-width
  margin: 0 auto
  padding: 0 15px

